html {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fefefe;
  overflow: hidden;
  font-family: 'Oswald', sans-serif !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow-x: hidden;
  padding: 20px;
}

.custom-form{
  width: 500px;
}

.btn{
  margin: 10px 0;
}

.viewer{
  width: 100%;
  background-color: #e4e4e4;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-danger{
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f0b5b5;
  background-image: linear-gradient(rgb(255, 169, 169), rgb(244, 209, 191), rgb(250, 184, 174));
}
.alert-success{
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #98f645;
  background-image: linear-gradient(rgb(157, 226, 78), rgb(139, 248, 118), rgb(140, 225, 71));

}
.upload-container {
  text-align: center;
}

.upload-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.upload-btn:hover {
  background-color: #2980b9;
}

.hidden {
  display: none;
}

.file-name {
  margin-top: 10px;
  font-size: 14px;
}